body {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
}
header,
main,
footer {
  margin: 0;
  padding: 0;
}

.menu {
  background: linear-gradient(to bottom, black, #d9d9d9);
  padding: 20px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 190px;
  box-sizing: border-box;
}

.logo-link {
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  transition: color 0.35s ease;
}

.menu a:hover {
  color: #ff6600;
}
.fas.fa-search {
  font-size: 30px;
  color: black;
  cursor: default;
  text-decoration: none;

  transition: color 0.35s ease;
}
.fas.fa-search:hover {
  color: #ff6600;
}
.apresentacao {
  background: linear-gradient(to bottom, #d9d9d9, white);
  padding: 80px 20px;
  text-align: center;
}

.apresentacao h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 0.35s ease;
}
.apresentacao h1:hover {
  color: #ff6600;
}

.texto-hover {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease forwards;
  animation-delay: 0, 3s;

  max-width: 1200px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 1.6;
  color: white;
  background-color: black;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.cards img {
  width: 500px;
  height: 500px;
  margin: 30px;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cards img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 1);
}
.footer-geral {
  background-color: black;
  padding: 40px;
  color: white;
  margin-top: 60px;
}
.footer-geral a {
  color: grey;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
