body {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
}
header,
main,
footer {
  margin: 0;
  padding: 0;
}

.menu {
  background: linear-gradient(to bottom, black, #d9d9d9);
  padding: 20px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 190px;
  box-sizing: border-box;
}

.logo-link {
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  transition: color 0.35s ease;
}

.menu a:hover {
  color: #ff6600;
}
.fas.fa-search {
  font-size: 30px;
  color: black;
  cursor: defaul;
  text-decoration: none;

  transition: color 0.35s ease;
}
.fas.fa-search:hover {
  color: #ff6600;
}
main {
  background: linear-gradient(to bottom, #d9d9d9, white);
}

.Frase {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  transition: color 0.35s ease;
}
.Frase:hover {
  color: #ff6600;
}
.texto1,
.texto2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px;
  flex-wrap: wrap;
  gap: 30px;
  font-family: "Montserrat", Arial, sans-serif;
}

.texto1 p,
.texto2 p {
  font-family: "Russo One", sans-serif;
  min-width: 300px;
  max-width: 600px;
  font-size: 25px;
  text-align: justify;
  transition: color 0.35s ease;

  padding: 20px;
  border-radius: 20px;

  border: 2px solid rgba(0, 0, 0, 0.15);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  opacity: 0;
  transform: translateY(20px);

  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.5s;
}

.texto2 p {
  animation-delay: 0.7s;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.texto1 p:hover,
.texto2 p:hover {
  color: #ff6600;
}

.texto1 img,
.texto2 img {
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.texto1 img:hover,
.texto2 img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 1);
}
.footer-geral {
  background-color: black;
  padding: 40px;
  color: white;
  margin-top: 60px;
}
.footer-geral a {
  color: grey;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
